<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aaron Luciano">
    <meta name="description" content="View your song on the SonoGlow RGB Matrix Display">
    <link rel="icon" href="../static/sonoglowIcon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/custom.css">
    <script src="../static/bubbles.js"></script>
    <script src="../static/continuous.js"></script>
    <title>SonoGlow Web UI</title>
</head>
<body>
    <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
        
    <div class="container">
        <img id="songImage" src="../static/websitesongdisplay.jpg" alt="Current Song Image">
        <h1>SonoGlow</h1>
        <form id="updateForm" action="/updateSong" method="post">
            <button type="submit">UPDATE</button>
        </form>   
        <button id="continuousButton" onclick="toggleContinuousUpdate()">CONTINUOUS: DISABLED</button>
        {% if song_info %}
            <p id="songInfo"">Now Playing: {{ song_info['track_name'] }} by {{ song_info['artists'] }}</p>
        {% endif %}
    </div>
    
</body>
</html>
